<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blog</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>


    <div class="registration-form">
        <form action="/auth/register" method="POST">
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" name="username" placeholder="Username">
            </div>
            <% if (usernameErr) { %>
                <div class="alert alert-danger" role="alert">
                    <%= usernameErr %>
                  </div>
            <% } %>
            <div class="form-group">
                <input type="password" class="form-control item" name="password" placeholder="Password">
            </div>
            <% if (passwordErr) { %>
                <div class="alert alert-danger" role="alert">
                    <%= passwordErr %>
                  </div>
            <% } %>
            <div class="form-group">
                <input type="text" class="form-control item" name="f_name" placeholder="First Name">
            </div>
            <% if (f_nameErr) { %>
                <div class="alert alert-danger" role="alert">
                    <%= f_nameErr %>
                  </div>
            <% } %>
            <div class="form-group">
                <input type="text" class="form-control item" name="l_name" placeholder="Last Name">
            </div>
            <% if (l_nameErr) { %>
                <div class="alert alert-danger" role="alert">
                    <%= l_nameErr %>
                  </div>
            <% } %>
            <div class="form-group">
                <input type="text" class="form-control item" name="phonenumber" placeholder="Phone Number">
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" value="male">
                <label class="form-check-label">
                  male
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" value="female">
                <label class="form-check-label">
                  female
                </label>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-block create-account" id="createAcc">Create Account</button>
            </div>
            <a href="/auth/login">alread have an account ? sign in here</a>
        </form>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>
